.git
.gitignore
.gitattributes

*.md

env.example

*.log
npm-debug.log*

node_modules/

.cache

.next/
out/

temp/

Dockerfile*
.dockerignore

scripts/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

tests/

build/
dist/
bin/
